@{
    Layout = "_Layout";
}
@{
    await Html.RenderPartialAsync("~/Pages/Shared/LayoutPartials/_PageHeader.cshtml", ViewData);
}

<div class="@(!string.IsNullOrEmpty((string?)ViewData["ContentClass"]) ? ViewData["ContentClass"] : "content")">
    @RenderBody()
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Pages/Shared/LayoutPartials/_ValidationScriptsPartial.cshtml");
    }
    <script type="text/javascript" src="/lib/select2/js/select2.min.js"></script>

    @RenderSection("Scripts", false)
}

@section HeadInject {
    @RenderSection("HeadInject", false)
}