@{
    Layout = "_Layout";
    string search = Context.Request.Query["search"].ToString();
}
@{
    await Html.RenderPartialAsync("~/Pages/Shared/LayoutPartials/_PageHeader.cshtml", ViewData);
}

<div class="row mb-3">
    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8">
        <form method="get">
            <div class="row mb-3">
                <label for="searchField" class="col-sm-2 col-form-label">Search</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" id="searchField" name="search" value="@search" class="form-control w-25" />
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            </div>
            @if (!String.IsNullOrEmpty(search))
            {
                <a asp-action="Index">View All Results</a>
            }
        </form>
    </div>
</div>
@RenderBody()

@{
    var totalItemsProperty = ViewData.Model?.GetType().GetProperty("TotalItems");
}

@if (totalItemsProperty != null)
{

    <Partial name="~/Pages/Shared/LayoutPartials/_Pagination" model="ViewData?.Model" />
}

@section Scripts {
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        function setQueryParameters(e) {
            e.preventDefault();
            const url = new URL(window.location.href);
            url.searchParams.set('perPage', e.target.value);
            window.location = url;
        }
    </script>
}