﻿@{
    Layout = "_Layout";
}

<div class="position-relative">
    @RenderSection("_EditorStickyMenu", false)
    @await Html.PartialAsync("~/Pages/Shared/LayoutPartials/_PageHeader.cshtml", ViewData);
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}

@section HeadInject {
    @RenderSection("HeadInject", false)
}