@{
    ViewData["Title"] = "Error";
}

<h1 class="display-3 mb-5">Error</h1>
<p>There was a problem loading this page.  Please try reloading the page or <a asp-area="" asp-controller="Dashboard" asp-action="Index">return to the dashboard</a> and try again.</p>

<p>If you continue to have issues, please contact the IT Help Desk by emailing <a href="mailto: helpdesk@chemungcountyny.gov">helpdesk@chemungcountyny.gov</a> or calling extension <a href="tel:21598">#21598</a></p>