#wrapper {
    min-height: 100vh;
}
.material-symbols-rounded {
    min-width: 24px;
    max-width: 24px;
    overflow: hidden;
    font-display: block;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
&:active,
&:focus {
    color: var(--btn-outline-active-color);
    border-color: var(--btn-outline-active-color);
}

}

.btn-outline-tertiary {
    --btn-outline-color: var( --bs-tertiary-color);
    --btn-outline-hover-color: tint(var( --bs-tertiary-color), 10%);
    --btn-outline-active-color: shade(var( --bs-tertiary-color), 10%);
    color: var( --bs-tertiary-color);
    border-color: var( --bs-tertiary-color);
    background-color: transparent;
    &:hover

{
    color: var( --bs-secondary-color);
    border-color: var( --bs-secondary-color);
}

&:active,
&:focus {
    color: var( --bs-secondary-color);
    border-color: var( --bs-secondary-color);
}
}